.pattern-tray {
	z-index: 10;
	position: absolute;
	display: relative;
	height: 100%;
	width: 100px;
	align-content: center;
	justify-content: center;
	background: white;
	left: 0;
}

.pattern-tray.hide {
	transform: translate3d(-100px, 0, 0);
	transition-duration: 0.75s;
}
.pattern-tray.show {
	transform: translate3d(0, 0, 0);
	transition-duration: 0.75s;
}

.pattern-tray-canvas {
	margin: 5px 10px;
}

.pattern-tray-toggle {
	position: absolute;
	border-radius: 50%;
	height: 32px;
	width: 32px;
	border: 1px solid grey;
	background: white;
	left: 100px;
}
